@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500&family=Poppins:wght@200;300;400;600&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --transition: all 0.1s ease-in-out;
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    font-size: 0.875rem;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
    margin-bottom: 1.25rem;
    color: var(--clr-grey-5);
  }
  @media screen and (min-width: 800px) {
    h1 {
      font-size: 4rem;
    }
    h2 {
      font-size: 2.5rem;
    }
    h3 {
      font-size: 1.75rem;
    }
    h4 {
      font-size: 1rem;
    }
    body {
      font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
      line-height: 1;
    }
  }
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navbar {
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    background-color: var(--clr-primary-7);
    padding: 0 10px;
}

.top-and-left-canvas-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70px;
    justify-content: space-around;
}
.navbar a {
    text-decoration: none;
    color: #191314;
    font-weight: 600;
    font-size: 1.5rem;
}

.navbar a:hover {
    text-decoration: none;
    color: inherit;
}

.underline {
    border-bottom: 0.1px solid #e6e6e6;
}

.cart-container {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
}

.cart-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
}

.cartItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 10px 10px;
}

.cartItemImg {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.cartItemDetail {
    display: flex;
    flex: 1;
    padding: 0 20px;
    flex-direction: column;
}

.carousel-container {
    width: 100%;
}

.threePhotosContainer {
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.threePhotos{
    width: 300px;
    height: 300px;
    object-fit: cover;
    transition: var(--transition);
}

@media (max-width: 992px) {
    .threePhotos-box{
        margin-bottom: 10px;
    }
    .threePhotos {
        width: 600px;
        height: 600px;
    }
  }

.arrow {
    font-size: 2rem;
    background-color: white;
    border-radius: 50%;
    opacity: 0.8;
}


@media (max-width: 992px) {
    .arrow {
      display: none;
    }
  }

.arrow-left{
    position: absolute;
    top: 50%;
    left: 20%;
}

.arrow-right{
    position: absolute;
    top: 50%;
    left: 75%;
}

.featuredProducts {
    width: 90%;
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.featuredProductsContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    justify-content:space-evenly
}

.pagination-list {
    display: flex;
    flex-direction: row;
    width: 350px;
    justify-content: space-between;
}

.pagination-list li button {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #ffffff;
    border: 0.1rem solid #f2f2f2;
}

.pagination-list li button.active {
    background-color: var(--clr-primary-5);
}

.aboutContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}

.left-side {
    width: 576px;
    justify-self: end;
}

.right-side {
    justify-self: start;
}

.aboutContainer article{
    width: 500px;
    padding: 20px 0;
}
.aboutContainer article p {
    font-size: 0.87rem;
    line-height: 1.4rem;
    letter-spacing: 0.8px;
}

.productHome {
    display: flex;
    flex-direction: row;
}

.filters{
    display: flex;
    flex-direction: column;
    width: 20%;
    min-width: 230px;
   padding: 20px;
    height: 86vh;
}

.accordion-button {
    background-color: #ffffff !important;
    color:black !important;
  }

  
.accordion-button:focus {
    outline: 0 !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
  }

.accordion-button:after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;;
  }

.product-box {
    display: flex;
    flex-direction: column;
    width: 78%;
    padding: 20px;
    align-items: center;
}

.productList-info {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
}

.productContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.single-product {
    margin: auto;
    margin-bottom: 10px;
    width: 12rem;
    height: 24rem;
}

.img-btn-container {
    width: 12rem;
}

.add-to-cart-box .add-to-cart-btn {
    background-color: #191314;
    height: 3rem;
    opacity: 0.8;
    position: absolute;
    top: 13rem;
    width: 100%;
    border: none;
}

#footer{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--clr-primary-8);
    height: 240px;
}

#footer .description p{
    line-height: 0.4rem;
}